---
name: Deploy

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: 'ubuntu-18.04'

    steps:
    - name: 'Python'
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - uses: 'actions/checkout@v2'

    - name: Script
      env:
        AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
        AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
        AWS_DEFAULT_REGION: 'eu-west-1'
      run: |
        python -m pip install --upgrade pip
        pip install awscli==1.25.62
        aws s3 sync . s3://monitoring-jump-start --exclude '*' --include 'marbot*.yml' --include 'data/*' --delete
        for file in marbot*.yml; do version=$(yq e '.Outputs.StackVersion.Value' $file); aws s3 cp $file s3://monitoring-jump-start/$version/$file; done
