name: Deploy

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: 'ubuntu-18.04'

    steps:
    - uses: 'actions/checkout@v2'

    - name: Script
      env:
        AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
        AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
        AWS_DEFAULT_REGION: 'eu-west-1'
      run: |
        pip install awscli==1.18.71
        aws s3 sync . s3://monitoring-jump-start --exclude '*' --include '*.yml' --include 'data/*'
